<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}ISSC Login{% endblock %}</title>
</head>
<body>
  <header>
    <h1>ISSC Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
 <h2> welcome to your profile page</h2>
        <h2>YOUR PROJECTS</h2>
        
        <br/>{% for area in user.userprofile.projects.all %}<b>{{ area.project_name }}</b><br> 
      {{area.project_desc}}</br><br/>{% endfor %}
</form>
      
    {% else %}

      <a href="{% url 'login' %}">login</a><br>
      <a href="{% url 'register' %}">Create User</a><br>
      
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  
</body>
</html>
