{% extends './base.html' %}
{% load staticfiles %}
{% block title %}{{user.username}}{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}
<form action="/projectmgmt" method="post"> {% csrf_token %}
   
   <h1>{{ user.username }} Welcome to your profile page</h1>
   <div class="fieldWrapper">
    {{ form.projects.errors }}
   <label for="projects">Projects</label>
    {{ form.projects }}
    </div>
 <button class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit">
      SUBMIT!
      </button>
</form>

{% endif %}
{% endblock %}

